/* Global Styles */

* {
	vertical-align: top;
}

body {
	margin: 0;
	font-family: 'Helvetica', Arial, sans-serif;
	line-height: 1.5;
}


/* Navigation */

nav {
	background-color: #E0F7FA;
	width: 60%;
	padding: 0 20%;
}

nav ul {

}