/* Global Styles */

* {
	vertical-align: top;
}

body {
	margin: 0;
	font-family: 'Helvetica', Arial, sans-serif;
	line-height: 1.5;
	background-color: #006064;
	color: #ffffff;
}

a {
	text-decoration: none;
}

.container {
	width: 60%;
	margin: 0 20%;
}


/* Header */

header {
	background-color: #E0F7FA;
}

header img {
	width: 2rem;
	padding: 1rem 0;
}

header nav,
header li {
	display: inline-block;
}

header li {
	padding: 0.25rem 1rem 0.25rem 0;
	text-transform: uppercase;
}
